
  body {
    background-image: url("images/darkgray.jpg");
    background-repeat: repeat-y;
    background-size: cover;
  }

  /* Big Titles */
  h1 {
      color: white;
      text-align: center;
      font-family: "Jazz LET", fantasy;
      font-weight: 2;
      font-size: 70px;
      height: 70px;
    }
  h2 {
      color: white;
      text-align: center;
      font-family: "Courier New",serif;
      font-weight: 5;
      font-size: 20px;
  }
  h3 {
      color: white;
      text-align: center;
      font-family: "Courier",serif;
      font-weight: normal;
      font-size: 17px;
  }
  h4 {
      color: black;
      text-align: center;
      font-family: Times,serif;
      font-size: 30px;
  }
  p {
      color: black;
      text-align: left;
      font-family: "Trebuchet MS";
      font-weight: normal;
      font-size: 20px;
      margin: 20px 20px 20px 20px;
  }

  .text{
    position: static;
    text-align: center;
  }

  .writing{
    position: static;
    text-align: left;
  }

  #titlebox-desc{
    background-image: linear-gradient(to top left, rgb(66, 223, 244), rgb(52, 131, 249));
    border: 4px solid transparent;
    max-width: 100%;
    position: static;
    margin: 50px 70px 75px 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
  }
  #mainhello-desc{
    top: 30px;
  }
  .emailbutton{
    border: 2px solid white;
    border-radius: 0px;
    color: white;
    text-align: center;
    font-family: "Courier New";
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px 10px 16px;
    transition: all 0.3s ease 0s;
  }
  .emailbutton:hover{
    background-color: rgb(76, 115, 255);
    color: rgb(230,230,230);
    border: 2px solid rgb(230,230,230);
  }

  #bodywhite-desc{
    margin-top: 20px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: white;
    overflow: auto;
    }
  #quickbio-desc{
    padding: 20px 20px 20px 20px;
    max-width: 100%;
  }

  /* Style the tab */
  .tab {
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(66, 223, 244), rgb(52, 131, 249));
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .tabcontent {
  padding-top: 55px;
}
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    width: 20%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 0px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: inherit;
    opacity: 0.4
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #bad1ff;
  }

  /* Style the tab content */
  .tabcontent {
    padding: 6px 12px;
    border-top: none;
    text-align: right;
    /* background-color: #a4e6fc; */
  }
}
#tab-dummy {
}
  #tab-creations {
    background-color: #a4e6fc;
    height: 2000px;
  }
  #tab-designs {
    background-color: #c9ffe0;
    height: 2000px;
  }
  #tab-videos {
    background-color: #ff7575;
  }
  #tab-coding {
    background-color: purple;
  }
  #tab-music {
    background-color: orange;
  }
